 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>{{title}}</title>
  </head>
  <body>
      <div class="main-content">
        {{>header}}

        <h3><b>Tasks:</b></h3>
        <hr>
        {{#each tasks}}
          <p>Id: {{id}}</p>
          <p>Descritpion: {{description}} </p>
          <p>Completed: {{completed}}</p>
          <hr>
        {{/each}}

        <form action="/deletetask" method="post">
              <div class="container">
                <p>If you don't know the task id you can consult the list above to make sure you edit the correct task.</p>
                <hr>

                <label for="id"><b>Task id</b></label>
                <div class="select">
                    <select name="id" id="id" required>
                        {{#each tasks}}
                        <option value={{id}} >{{id}}</option>
                        {{/each}}
                    </select>
                </div>
                <br>

                <hr>
                <button type="submit" class="registerbtn">Submit</button>

              </div>
          </form>
      </div>
  
      {{>footer}}
  </body>
</html>