<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>{{title}}</title>
  </head>
  <body>
      <div class="main-content">
        {{>header}}

        <h3><b>Tasks:</b></h3>
        <hr>
        {{#each tasks}}
          <p>Id: {{id}}</p>
          <p>Description: {{description}} </p>
          {{#ifCond completed true}}
          <p>Completed: Yes</p>
          {{else}}
          <p>Completed: No</p>
          {{/ifCond}}
          <hr>
        {{/each}}

        <form action="/edittask" method="post">
              <div class="container">
                <p>If you don't know the task id you can consult the list above to make sure you edit the correct task.</p>
                <p>If the description field is left empty only the completed field is changed.</p>
                <p>When changing the description don't forget to check the completed status.</p>
                <hr>

                <label for="id"><b>Task id</b></label>
                <div class="select">
                    <select name="id" id="id" required>
                        {{#each tasks}}
                        <option value={{id}} >{{id}}</option>
                        {{/each}}
                    </select>
                </div>
                <br>
              
                <label for="description"><b>Description</b></label>
                <input type="text" placeholder="Enter Description (if it is the same leave it empty)" name="description" id="description">


                <label  for="completed"><b>Completed</b></label>
                <div class="select">
                  <select id="completed" name="completed">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
                </div>

                <hr>
                <button type="submit" class="registerbtn">Submit</button>

              </div>
          </form>
      </div>
  
      {{>footer}}
  </body>
</html>